{% extends 'layouts/main.html' %}
{% block title %}Add Image{% endblock %}
{% block content %}




<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" 
>
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;">
        <b>Image Details :</b></h2>
        <hr>


<!--name, price-->





<form>


 <div class="form-row">
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="p_name">
        Image Name <span class="req">*</span></label>
      <input  class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="p_name"
      placeholder="Name of the image you want to add" 
      >
    </div>
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="p_price">
        Image Price <span class="req">*</span></label>
      <input  
      class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="p_price"
      placeholder="Price of the image" 
      >
    </div>



  </div>

<div style="font-size: 200%;
font-weight: bold;color:black;">Result: 

<span id="the_result">
  </span>

</div>





  <button class="btn btn-success mb-4"  type="button" 
  style="" onclick="addTheProduct()"><div class="" 
  style="font-size: 200%;font-weight: bold">
  Create Image</div></button>
</form>


















        
      </div>
  </div>


</div>











<script type="text/javascript">
function addTheProduct() 
{
  post_products(name=document.getElementById('p_name')["value"]
    ,price=document.getElementById('p_price')["value"],
    in_stock=true).then(function(value){
      handleResponse(value);}).
    catch(function(value){
      handleResponse(value["responseJSON"]);});
}  








/*
This variable is about handle response
It tells JS where the user will be redirected after 
he the form is filled successfully
*/
after_success="/manage-images"




function diplayResult(color="success",message="")
{
  document.getElementById("the_result").innerHTML=
  '<span style="color:'+color+';">'+message+'</span>';
}

diplayResult("yellow","Waiting for your input")

response_example =
{
    "product": {
        "id": 13,
        "in_stock": true,
        "name": "Stabler",
        "price": 6.0,
        "seller_id": 5
    },
    "success": true,
    "description": "you failed"
}
response_example ={
    "description": "in_stock is missing",
    "error": 400,
    "message": "bad request",
    "success": false
}
function handleResponse(response)
{
  if (response["success"]==true) 
  {diplayResult("lime","Image added successfully");}
  else{diplayResult("pink",response["description"]);}
}
//handleResponse(response_example);
</script>

















{% endblock %}