{% extends 'layouts/main.html' %}
{% block title %}Cart{% endblock %}
{% block content %}









<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" >
  <div class="row" style="height: 100%;">
      
      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;list-style: none;">
        <b>Products</b></h2>
        <hr>



<div id="list_of_products" class="container-fluid m-0">



<!--
<div class="card mb-4" style="">
  <div class="card-body">
    <h5 class="card-title"
    style="font-weight: bold; 
     'font-size: 150%;">'+item_name+'</h5>
    <p class="card-text">Unit Price :
       <b>'+unit_price+'</b></p>
    <p class="card-text">Amount (Number of units orders) :
       <b>'+amount+'</b></p>


    <div class="d-flex">'+
      <span color: black;">'+
        Total Price :<b>'+total_price+'</b>
      </span>  
      <a target="_blank" 
       class="ml-auto card_button btn btn-outline-danger"
      style="font-weight: bold;font-size: 150%"
      data-toggle="modal" data-target="#exampleModal"
      onclick="remove_product_from_cart('+item_id+')" 
      >Remove From Cart
      </a> 
    </div>
  </div>
</div>
-->








        
      </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal"
         aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete that product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success mr-auto"
         data-dismiss="modal">
       No, I will keep the product</button>
        <button type="button" class="btn btn-danger"
        data-dismiss="modal" onclick="remove_really()">
        <a>Delete the product</a></button>
      </div>
    </div>
  </div>
</div>





  </div>


</div>

</div>







<script type="text/javascript">
  
  /*
  add_element_to_list(item_name ="Labtop",
    unit_price=500,amount = 40, total_price= 70000,item_id = 1);
  add_element_to_list(item_name ="CPU",
    unit_price=5,amount = 5,total_price= 80000, item_id = 2);
  add_element_to_list(item_name ="Mobile",
    unit_price=50,amount = 7, total_price= 90000, item_id = 3);
  */

  

  function add_element_to_list(
    item_name = "Title",unit_price =5,amount = 1,
     total_price = 0, item_id = 1)
  {

    /*console.log("item_name: "+ item_name);
    console.log("unit_price: "+ unit_price);
    console.log("total_price: "+ total_price);
    console.log("item_id: "+ item_id);
    console.log("____")*/
    var d1 = document.getElementById('list_of_products');
  d1.insertAdjacentHTML('beforeend', 
    create_list_text(item_name =item_name 
      ,unit_price =unit_price, amount = amount,
       total_price=total_price, item_id =item_id ));
  }


  function create_list_text(item_name = "Title",
   unit_price = 5, amount = 1, total_price = 0, item_id = 1)
  {
    /*console.log("item_name: "+ item_name);
    console.log("unit_price: "+ unit_price);
    console.log("total_price: "+ total_price);
    console.log("item_id: "+ item_id);
    console.log("__++++++++++++++++++__")*/

    return '<div class="card mb-4" style="">'+
'  <div class="card-body">'+
'    <h5 class="card-title"'+ 
'    style="font-weight: bold; '+
      'font-size: 150%;">'+item_name+'</h5>'+
'    <p class="card-text">Unit Price :'+
'       <b>'+unit_price+'</b></p>'+
'    <p class="card-text">Amount (Number of units orders) :'+
'       <b>'+amount+'</b></p>'+


'    <div class="d-flex">'+
'      <span color: black;">'+
'        Total Price :<b>'+total_price+'</b>'+
'      </span>'   +   

'      <a target="_blank" '+
'       class="ml-auto card_button btn btn-outline-danger"'+ 
'      style="font-weight: bold;font-size: 150%"'+
'      data-toggle="modal" data-target="#exampleModal"'+
'      onclick="remove_order_from_cart('+item_id+')" '+
'      >Remove From Cart'+
'      </a> '+
'    </div>'+
'  </div>'+
'</div>'

  }




</script>



<script type="text/javascript">
  /*Handling delete*/
  var to_be_removed_from_cart ;
  /*On clicking this button, this variable will be 
  assigned a value
  the value of the id of the product to be deleted
  it will not be delted yet
  what will trigger the deletion is the delete button 
  in thye pop up modal
  */
  function remove_order_from_cart(id = 0)
  {
    to_be_removed_from_cart = id;
    console.log(to_be_removed_from_cart);
  }

  function remove_really()
  {
    delete_orders(to_be_removed_from_cart).
    then(function(value){location.reload()});
  }





get_orders().then(function(data){console.log(data);})



get_orders().then(function(value) 
  {build_orders_cards(value);});

var data_example = {
    "orders": [
        {
            "amount": 1,
            "id": 1,
            "product": {
                "id": 1,
                "in_stock": true,
                "name": "Labtop",
                "price": 300.0,
                "seller_id": 1
            },
            "total_cost": 300.0,
            "user_id": 1
        },
        {
            "amount": 2,
            "id": 4,
            "product": {
                "id": 1,
                "in_stock": true,
                "name": "Labtop",
                "price": 300.0,
                "seller_id": 1
            },
            "total_cost": 600.0,
            "user_id": 1
        },
        {
            "amount": 20,
            "id": 7,
            "product": {
                "id": 4,
                "in_stock": false,
                "name": "Table",
                "price": 150.0,
                "seller_id": 1
            },
            "total_cost": 3000.0,
            "user_id": 1
        }
    ],
    "success": true
}


console.log(data_example["orders"])

function build_orders_cards(input_array){
  document.getElementById('list_of_products').innerHTML="";
  for (order_index in input_array["orders"]) {
    var order = input_array["orders"][order_index];
    //console.log( product );
    add_element_to_list(
      item_name = order["product"]["name"],
      unit_price =order["product"]["price"], 
      amount =order["amount"], 
      total_price =order["total_cost"], 
      item_id =order["id"]);
  }
}


</script>












{% endblock %}