{% extends 'layouts/main.html' %}
{% block title %}Edit Product{% endblock %}
{% block content %}





<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" 
>
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;">
        <b>Product New Details :</b></h2>
        <hr>


<!--name, price-->





<form>


 <div class="form-row">
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="p_name">
        Product new Name <span class="req">*</span></label>
      <input  class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="p_name"
      placeholder="New name of the product after editing"
      value="" 
      >
    </div>
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="p_price">
        Product new Price <span class="req">*</span></label>
      <input  
      class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="p_price"
      placeholder="New price of the product after editing"
      value="" 
      >
    </div>



  </div>







<div style="font-size: 200%;
font-weight: bold;color:black;">Result: 

<span id="the_result">
  </span>

</div>






  <button type="button" class="btn btn-success mb-4"
  style="" onclick="editTheProduct()"><div class="" 
  style="font-size: 200%;font-weight: bold">
  Edit Product</div></button>
</form>


















        
      </div>
  </div>


</div>




<script type="text/javascript">



var data_example = {
    "products": [
        {
            "id": 1,
            "in_stock": true,
            "name": "Labtop",
            "price": 300.0,
            "seller_id": 1
        },
        {
            "id": 3,
            "in_stock": true,
            "name": "Candy",
            "price": 0.5,
            "seller_id": 3
        },
        {
            "id": 5,
            "in_stock": true,
            "name": "Keyboard",
            "price": 5.0,
            "seller_id": 2
        },
        {
            "id": 6,
            "in_stock": true,
            "name": "Mouse",
            "price": 4.0,
            "seller_id": 1
        }
    ],
    "success": true
}


const product_id = new URLSearchParams(
  window.location.search).get("id");

function getSpecificProduct(data,id)
{
  for(p_index in data["products"])
  {
    if(data["products"][p_index]["id"]==id)
    {
      return data["products"][p_index];
    }
  }
}

function fill_fields(data,id)
{
  the_product = getSpecificProduct(data,id);
  document.getElementById('p_name').value=the_product["name"];
  document.getElementById('p_price').value=the_product["price"];
}
//console.log(getSpecificProduct(data_example,5))
//fill_fields(data_example,5)


get_products().then(function(value)
  {fill_fields(value,id=product_id);});



function diplayResult(color="success",message="")
{
  document.getElementById("the_result").innerHTML=
  '<span style="color:'+color+';">'+message+'</span>';
}

diplayResult("yellow","Waiting for your input");

function handleResponse(response)
{
  if (response["success"]==true) 
  {diplayResult("lime","Product edited successfully");}
  else{diplayResult("pink",response["description"]);}
}

function editTheProduct() 
{
  put_products(id=product_id,
    name=document.getElementById('p_name')["value"],
    price=document.getElementById('p_price')["value"],
    in_stock=true).then(function(value){
      handleResponse(value);}).
    catch(function(value){
      handleResponse(value["responseJSON"]);});
}  


</script>



{% endblock %}