{% extends 'layouts/main.html' %}
{% block title %}Product{% endblock %}
{% block content %}

<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" 
>
  <div class="row" style="height: 100%;">
      <div class="container col-4 p-4" style="height: 100%;">
        
        <div>
        <h2 class="" style="color:black;font-weight: bold;
        height: 100%;" id="p_name">
        </h2>
        <h2 class="" style="color:black;font-weight: bold;
        height: 100%;">Price: <span id="p_price"></span>
        </h2>
        
      </div>
  </div>
      













      <div class="col-8 bg-primary pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;"><b>Amount: 
          <span id="amount">1</span>
        </b></h2>
      <div class="d-flex bd-highlight mb-3">
  <div class="mr-auto p-2 bd-highlight">
    <button class="btn btn-danger"
      style=""
      onclick="subtract_one()" 
      >
      <div class="pr-4 pl-4" 
      style="font-size: 400%;font-weight: bold">-
    </div>
    </button>

  </div>
  <div class="p-2 bd-highlight">
    <button class="btn btn-success"
      style=""><div class="pr-4 pl-4" 
      style="font-size: 400%;font-weight: bold"
      onclick="add_one()" 
      >+</div>
    </button>

  </div>
</div>




<h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;"><b>Total Price: 
          <span id="total_price"></span>
        </b></h2>


  <button type="button" class="btn btn-success mb-4"
  style="" onclick="add_to_cart()"><div class="" 
  style="font-size: 200%;font-weight: bold">Add to Cart</div></button>
        
      </div>
  </div>


</div>







<script type="text/javascript">
  price = 0;
  amount = 1;
  total_price;
  function  setup_all()
  {
    document.getElementById('amount').innerHTML = amount;
    total_price = price * amount;
    document.getElementById('total_price').innerHTML 
    = total_price;

  }
  setup_all();


  function add_one()
  {amount++;setup_all();console.log("Adding One");}
  function subtract_one()
  { if (amount == 0) {return;}
    amount--;setup_all();console.log("Subtracting One");}


</script>


<script type="text/javascript">
  

const product_id = new URLSearchParams(
  window.location.search).get("id");

function getSpecificProduct(data,id)
{
  for(p_index in data["products"])
  {
    if(data["products"][p_index]["id"]==id)
    {
      return data["products"][p_index];
    }
  }
}

function fill_fields(data,id)
{
  the_product = getSpecificProduct(data,id);
  console.log(the_product);
  document.getElementById('p_name').innerHTML=the_product["name"];
  document.getElementById('p_price').innerHTML=the_product["price"];
  console.log(the_product["name"]);
  console.log(the_product["price"]);
  price = the_product["price"];
  setup_all();

}

get_products().then(function(value)
  {fill_fields(value,id=product_id);});

/*  document.getElementById('p_name').innerHTML="abc";
  document.getElementById('p_price').innerHTML=5432;
*/

function add_to_cart()
{
  post_orders(product_id,amount).then
  (
    function(value)
    {
      window.location.href = "cart"
    }
  )
}

</script>






{% endblock %}