{% extends 'layouts/main.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}




<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" 
>
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;">
        <b>Sign Up :</b></h2>
        <hr>








<form>

<!--
 <div class="form-row">
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="fname">
        First Name <span class="req">*</span></label>
      <input  class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="fname"
      placeholder="Your firstname" 
      >
    </div>
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="lname">
      Last Name <span class="req">*</span></label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="lname"
      placeholder="Your lastname" 

      >
    </div>
  </div>

-->



  <div class="form-group form-row">
    <label class="legend_of_input" 
    for="inputEmail">Email address or Username 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="inputEmail"
    name="email"
    placeholder="Your username or email" 

    >
  </div>


  <div class="form-group">
    <label class="legend_of_input" 
    for="password">Password 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="password" class="form-control" id="password"
    placeholder="Your passord" 
    >
  </div>

  <div class="form-group">
    <label class="legend_of_input" 
    for="password_confirm">Confirm Password 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="password" class="form-control" id="password_confirm"
    placeholder="The same password" 

    >
  </div>



<!--

  <div class="form-group form-row">
    <label class="legend_of_input" 
    for="inputMobile">Mobile Number 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="inputMobile"
    name="mobile"  
    placeholder="Your mobile number" 
    >
  </div>




 <div class="form-row">
    <div class="form-group col-md-6">
      <label class="legend_of_input" 
      for="country">Country 
     <span class="req">*</span></label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="country"
      placeholder="The country where you live" 
      >
    </div>
    <div class="form-group col-md-6">
      <label class="legend_of_input" 
      for="state">State or Governorate </label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="state"
      placeholder="The state where you live" 
      >
    </div>
  </div>


 <div class="form-row">
    <div class="form-group col-md-6">
      <label  class="legend_of_input" for="city">City </label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="city"
      placeholder="The city where you live" 

      >
    </div>
    <div class="form-group col-md-6">
      <label  class="legend_of_input"
       for="zip">Zip Code </label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="zip"
      placeholder="Zip Code" 

      >
    </div>
  </div>






  <div class="form-group">
    <label class="legend_of_input" 
    for="address1">Address Line 1 </label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="address1"
    placeholder="The address of your block of flats" 

    >
  </div>

  <div class="form-group">
    <label class="legend_of_input" 
    for="address2">Address Line 2 </label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="address2"
    placeholder="Where is your appartment" 

    >
  </div>



<div class="container-fluid">
  <fieldset class="form-group">
    <div class="row">
      <legend  class="legend_of_input" class="col-form-label col-sm-2 pt-0">
      Gender  <span class="req">*</span></legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" 
          name="gender" id="male" 
          value="male" checked>
          <label class="form-check-label radio_input_text" for="male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" 
          name="gender" id="female" value="female">
          <label class="form-check-label radio_input_text" for="female">
            Female
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" 
          name="gender" id="other" value="other" >
          <label class="form-check-label radio_input_text" for="other">
            Other
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="gender" id="not_tell" value="not_tell" >
          <label class="form-check-label radio_input_text" 
          for="not_tell">
            I would rather not tell
          </label>
        </div>

      </div>
    </div>
  </fieldset>
</div>
-->




<div style="font-size: 200%;
font-weight: bold;color:black;">Result: 
<span id="the_result">
  </span>
</div>

  <button class="btn btn-success mb-3 mt-3"  type="button" 
  style="" onclick="signTheUserUp()"><div class="" 
  style="font-size: 200%;font-weight: bold">
  Create Account</div></button>
</form>

















        
      </div>
  </div>



</div>



<script type="text/javascript">
function signTheUserUp() 
{
  post_users(username=
    document.getElementById('inputEmail')["value"]
    ,password1=
    document.getElementById('password')["value"],
    password2=
    document.getElementById('password_confirm')["value"]
    ).then(function(value){
      handleResponse(value);}).
    catch(function(value){
      handleResponse(value["responseJSON"]);});
}  





/*
This variable is about handle response
It tells JS where the user will be redirected after 
he the form is filled successfully
*/
after_success="/"




</script>










{% endblock %}