<!DOCTYPE html>
<html>
<head>


<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/jquery.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/backend.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/functions.js') }}"></script>

<link rel="stylesheet" href="static/css/bootstrap.min.css">


    <style type="text/css">

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}


.second_row {
  flex-grow: 1;
}

.legend_of_input
{
  color: black; 
  font-weight: bold;
  font-size: 150%;
}

.text_input_field
{
  font-weight: bold;
  font-size: 150%;
  width: 100%;
  background-color: black; 
  color: white;
  border-radius: 500px;
}


input[type=radio] {
  transform: scale(1.6);
}

.radio_input_text
{
  color: black;font-size: 120%;font-weight: bold;

}


.req
{
  color: pink;
}

.card
{
  border-radius: 35px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

.card_button
{
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

   </style>


<script type="text/javascript">
  right_arrow_svg = '<svg width="35" height="35"'+ 
'fill="currentColor" class="bi bi-arrow-right"'+ 
'viewBox="0 0 16 16">'+
  '<path fill-rule="evenodd"'+ 
  'd="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>'+
'</svg>'

</script>


</head>
<body class="">


<div class="bg-warning p-0 container-fluid mx-auto" style="">

  <div class="d-flex bd-highlight m-2">
    <div class="mr-auto p-0 bd-highlight mb-0">
      <div class="left-top-header mb-0 mt-2">
        <button type="button" 
        class="btn btn-primary mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/'">
              Shopping
        </button>
        <span id="left_top_header_section_additional"></span>
        <button type="button" 
        class="btn btn-primary mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/about'">
              About Cantiin
        </button>

      </div>
    </div>
    <div class="p-0 m-0 bd-highlight">
      <div class="right-top-header  mt-2" 
      id="right_top_header_section">
        <button type="button" 
        class="btn btn-success mb-0 mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/login'">
              Log in
        </button>
        <button type="button" 
        class="btn btn-outline-primary mb-0 mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/signup'">
              Create Account
        </button>
        
      </div>
    </div>
  </div>

</div>


<div class="bg-dark p-2 container-fluid mx-auto" style="">
  <div class="text-warning font-weight-bold  
  container-fluid align-middle" 
  style="font-size: 300%; 
  width: 500px;">Home</div>

</div>




<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" >
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;list-style: none;">
        <b>Products</b>
      </h2>
        <hr>

        <a href="/add-product"><button 
        class="card_button btn btn-outline-warning m-1" 
        style="font-size: 200%;
        font-weight: bold;">Add a new Product</button>
      </a>
<hr>

<!--name, price-->

<div id="list_of_products" class="container-fluid m-0">








<!--
<div class="card mb-4" style="">
  <div class="card-body">
    <h5 class="card-title" 
    style="font-weight: bold; font-size: 150%;">Card title</h5>
    <p class="card-text">Price :  <b>500</b></p>
    <div class="d-flex">
      <a href="edit-product?id=id" target="_blank" 
       class=" card_button btn btn-outline-warning" 
      style="font-weight: bold;font-size: 150%; color: black;">
        Edit
      </a>      

      <a target="_blank" 
       class="ml-auto card_button btn btn-outline-danger" 
      style="font-weight: bold;font-size: 150%"
      data-toggle="modal" data-target="#exampleModal"
      onclick="delete_product(1)" 
      >DELETE
      </a> 
    </div>
  </div>
</div>
-->














        
      </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal"
         aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete that product?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success mr-auto"
         data-dismiss="modal">
       No, I will keep the product</button>
        <button type="button" class="btn btn-danger"
        data-dismiss="modal" onclick="delete_really()">
        <a>Delete the product</a></button>
      </div>
    </div>
  </div>
</div>


  </div>


</div>

</div>
<div class="bg-dark d-flex justify-content-between pt-1 pb-2" >
  <div class="container-fluid" 
  style="width: 500px; font-weight: bold;color: black;
  font-size: 300%;">
<a href="https://github.com/OmarThinks/Cantiin" target="_blank">
<button type="button" class="btn btn-outline-success m-1"
style="font-weight: bold;
  font-size: 60%;">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" 
  height="50" fill="currentColor" class="bi bi-github" 
  viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg>
View source code on github</button>
</a>
  </div>  
</div>

</body>
<script type="text/javascript">
  

  /*add_element_to_list(product_name ="Labtop",
    product_price=500, product_id = 1);
  add_element_to_list(product_name ="CPU",
    product_price=5, product_id = 2);
  add_element_to_list(product_name ="Mobile",
    product_price=50, product_id = 3);
*/

  

  function add_element_to_list(
    product_name = "Title",product_price =5, product_id = 1)
  {
    var d1 = document.getElementById('list_of_products');
  d1.insertAdjacentHTML('beforeend', 
    create_list_text(product_name =product_name 
      ,product_price =product_price, product_id =product_id ));
  }


  function create_list_text(product_name = "Title",
   product_price =5, product_id = 1)
  {

    return '<div class="card mb-4" style="">'+
'  <div class="card-body">'+
'    <h5 class="card-title"'+ 
'    style="font-weight: bold; '+
      'font-size: 150%;">'+product_name+'</h5>'+
'    <p class="card-text">Price :  <b>'+product_price+'</b></p>'+
'    <div class="d-flex">'+
'      <a href="edit-product?id='+product_id+
'" target="_blank" '+
'       class=" card_button btn btn-outline-warning" '+
'      style="font-weight: bold;font-size: '+
'          150%; color: black;">'+
'        Edit'+
'      </a>'   +   

'      <a target="_blank" '+
'       class="ml-auto card_button btn btn-outline-danger"'+ 
'      style="font-weight: bold;font-size: 150%"'+
'      data-toggle="modal" data-target="#exampleModal"'+
'      onclick="delete_product('+product_id+')" '+
'      >DELETE'+
'      </a> '+
'    </div>'+
'  </div>'+
'</div>'

  }




</script>



<script type="text/javascript">
  /*Handling delete*/
  var to_be_deleted ;
  /*On clicking this button, this variable will be 
  assigned a value
  the value of the id of the product to be deleted
  it will not be delted yet
  what will trigger the deletion is the delete button 
  in thye pop up modal
  */
  function delete_product(id = 0)
  {
    to_be_deleted = id;
    console.log(to_be_deleted);
  }

  function delete_really()
  {
    delete_products(to_be_deleted).then(function(value)
      {location.reload()});
    
  }


//document.getElementById('list_of_products').innerHTML="";



get_products().then(function(value) 
  {build_products_cards(value);});
function build_products_cards(input_array){
  document.getElementById('list_of_products').innerHTML="";
  for (product_index in input_array["products"]) {
    var product = input_array["products"][product_index];
    //console.log( product );
    add_element_to_list(
      product_name = product["name"],
      product_price =product["price"], 
      product_id = product["id"]);
    //console.log(product["id"]);
  }
}


</script>


</html>