<!DOCTYPE html>
<html>
<head>


<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/jquery.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/backend.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', 
filename='js/functions.js') }}"></script>

<link rel="stylesheet" href="static/css/bootstrap.min.css">


    <style type="text/css">

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}


.second_row {
  flex-grow: 1;
}

.legend_of_input
{
  color: black; 
  font-weight: bold;
  font-size: 150%;
}

.text_input_field
{
  font-weight: bold;
  font-size: 150%;
  width: 100%;
  background-color: black; 
  color: white;
  border-radius: 500px;
}


input[type=radio] {
  transform: scale(1.6);
}

.radio_input_text
{
  color: black;font-size: 120%;font-weight: bold;
}


.req
{
  color: pink;
}
    </style>
</head>
<body class="">


<div class="bg-warning p-0 container-fluid mx-auto" style="">

  <div class="d-flex bd-highlight m-2">
    <div class="mr-auto p-0 bd-highlight mb-0">
      <div class="left-top-header mb-0 mt-2">
        <button type="button" 
        class="btn btn-primary mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/'">
              Shopping
        </button>
        <span id="left_top_header_section_additional"></span>
        <button type="button" 
        class="btn btn-primary mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/about'">
              About Cantiin
        </button>

      </div>
    </div>
    <div class="p-0 m-0 bd-highlight">
      <div class="right-top-header  mt-2" 
      id="right_top_header_section">
        <button type="button" 
        class="btn btn-success mb-0 mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/login'">
              Log in
        </button>
        <button type="button" 
        class="btn btn-outline-primary mb-0 mr-2"
            style="font-weight: bold;font-size: 150%;"
            onclick="window.location.href='/signup'">
              Create Account
        </button>
        
      </div>
    </div>
  </div>

</div>


<div class="bg-dark p-2 container-fluid mx-auto" style="">
  <div class="text-warning font-weight-bold  
  container-fluid align-middle" 
  style="font-size: 300%; 
  width: 500px;">Sign up in Cantiin</div>

</div>




<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" 
>
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;">
        <b>Sign Up :</b></h2>
        <hr>








<form>

<!--
 <div class="form-row">
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="fname">
        First Name <span class="req">*</span></label>
      <input  class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="fname"
      placeholder="Your firstname" 
      >
    </div>
    <div class="form-group col-md-6">
      <label class="legend_of_input" for="lname">
      Last Name <span class="req">*</span></label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="lname"
      placeholder="Your lastname" 

      >
    </div>
  </div>

-->



  <div class="form-group form-row">
    <label class="legend_of_input" 
    for="inputEmail">Email address or Username 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="inputEmail"
    name="email"
    placeholder="Your username or email" 

    >
  </div>


  <div class="form-group">
    <label class="legend_of_input" 
    for="password">Password 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="password" class="form-control" id="password"
    placeholder="Your passord" 
    >
  </div>

  <div class="form-group">
    <label class="legend_of_input" 
    for="password_confirm">Confirm Password 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="password" class="form-control" id="password_confirm"
    placeholder="The same password" 

    >
  </div>



<!--

  <div class="form-group form-row">
    <label class="legend_of_input" 
    for="inputMobile">Mobile Number 
   <span class="req">*</span></label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="inputMobile"
    name="mobile"  
    placeholder="Your mobile number" 
    >
  </div>




 <div class="form-row">
    <div class="form-group col-md-6">
      <label class="legend_of_input" 
      for="country">Country 
     <span class="req">*</span></label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="country"
      placeholder="The country where you live" 
      >
    </div>
    <div class="form-group col-md-6">
      <label class="legend_of_input" 
      for="state">State or Governorate </label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="state"
      placeholder="The state where you live" 
      >
    </div>
  </div>


 <div class="form-row">
    <div class="form-group col-md-6">
      <label  class="legend_of_input" for="city">City </label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="city"
      placeholder="The city where you live" 

      >
    </div>
    <div class="form-group col-md-6">
      <label  class="legend_of_input"
       for="zip">Zip Code </label>
      <input class="text_input_field pt-1 pb-1 pl-4" 
      type="text" class="form-control" id="zip"
      placeholder="Zip Code" 

      >
    </div>
  </div>






  <div class="form-group">
    <label class="legend_of_input" 
    for="address1">Address Line 1 </label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="address1"
    placeholder="The address of your block of flats" 

    >
  </div>

  <div class="form-group">
    <label class="legend_of_input" 
    for="address2">Address Line 2 </label>
    <input class="text_input_field pt-1 pb-1 pl-4" 
    type="text" class="form-control" id="address2"
    placeholder="Where is your appartment" 

    >
  </div>



<div class="container-fluid">
  <fieldset class="form-group">
    <div class="row">
      <legend  class="legend_of_input" class="col-form-label col-sm-2 pt-0">
      Gender  <span class="req">*</span></legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" 
          name="gender" id="male" 
          value="male" checked>
          <label class="form-check-label radio_input_text" for="male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" 
          name="gender" id="female" value="female">
          <label class="form-check-label radio_input_text" for="female">
            Female
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" 
          name="gender" id="other" value="other" >
          <label class="form-check-label radio_input_text" for="other">
            Other
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="gender" id="not_tell" value="not_tell" >
          <label class="form-check-label radio_input_text" 
          for="not_tell">
            I would rather not tell
          </label>
        </div>

      </div>
    </div>
  </fieldset>
</div>
-->




<div style="font-size: 200%;
font-weight: bold;color:black;">Result: 
<span id="the_result">
  </span>
</div>

  <button class="btn btn-success mb-3 mt-3"  type="button" 
  style="" onclick="signTheUserUp()"><div class="" 
  style="font-size: 200%;font-weight: bold">
  Create Account</div></button>
</form>

















        
      </div>
  </div>


</div>


<div class="bg-dark d-flex justify-content-between pt-1 pb-2" >
  <div class="container-fluid" 
  style="width: 500px; font-weight: bold;color: black;
  font-size: 300%;">
<a href="https://github.com/OmarThinks/Cantiin" target="_blank">
<button type="button" class="btn btn-outline-success m-1"
style="font-weight: bold;
  font-size: 60%;">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" 
  height="50" fill="currentColor" class="bi bi-github" 
  viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg>
View source code on github</button>
</a>
  </div>  
</div>



<script type="text/javascript">
function signTheUserUp() 
{
  post_users(username=
    document.getElementById('inputEmail')["value"]
    ,password1=
    document.getElementById('password')["value"],
    password2=
    document.getElementById('password_confirm')["value"]
    ).then(function(value){
      handleResponse(value);}).
    catch(function(value){
      handleResponse(value["responseJSON"]);});
}  



function diplayResult(color="success",message="")
{
  document.getElementById("the_result").innerHTML=
  '<span style="color:'+color+';">'+message+'</span>';
}

diplayResult("yellow","Waiting for your input")


function handleResponse(response)
{
  if (response["success"]==true) 
  {window.location.href = "/"}
  else{diplayResult("pink",response["description"]);}
}
//handleResponse(response_example);
</script>


</body>
</html>