{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
<div class="form-wrapper">
    <form method="post" class="form">
        <h3 class="form-heading">Edit Show That has an id of <em>{{ show.id }}</em></h3> 
        <div class="form-group">
            <label for="artist_id">Artist *</label>
            <small>Select from the options available</small>
            {{ form.artist_id(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="venue_id">Venue *</label>
            <small>Select from the options available</small>
            {{ form.venue_id(class_ = 'form-control', autofocus = true) }}
        </div>


        <div class="form-group">

            <label>
                Show Time *
            </label>

            <div class="form-Group">

                <div class="form-group">
                    <label>
                        Year *
                    </label>
                    {{ form.year(class_ = 'form-control', autofocus = true) }}

                </div>

                <div class="form-group">
                    <label>
                        Month *
                    </label>
                    {{ form.month(class_ = 'form-control', autofocus = true) }}

                </div>

                <div class="form-group">
                    <label>
                        Day *
                    </label>
                    {{ form.day(class_ = 'form-control', autofocus = true) }}

                </div>

                <div class="form-group">
                    <label>
                        Hour *
                    </label>
                    {{ form.hour(class_ = 'form-control', autofocus = true) }}

                </div>



            </div>
        </div>








        <div class="form-group">
            <label for="booking_phone">Booking Phone</label>
            {{ form.booking_phone(class_ = 'form-control', autofocus = true) }}
        </div>
        <input type="submit" value="Edit Show" class="btn btn-primary btn-lg btn-block">
        <br />
    </form>
</div>



<div><b>* = Must be filled</b></div>










<script>
    var id = "{{ show.id }}";
    var artist_id = "{{ show.artist_id }}";
    var venue_id = "{{ show.venue_id }}";
    var year = "{{ show.year }}";
    var month = "{{ show.month }}";
    var day = "{{ show.day }}";
    var hour = "{{ show.hour }}";
    var booking_phone = "{{ show.booking_phone }}";
   


    console.log(id);
    console.log(artist_id);
    console.log(venue_id);
    console.log(year);
    console.log(month);
    console.log(day);
    console.log(hour);
    console.log(booking_phone);


    document.getElementById("artist_id").value = artist_id;
    document.getElementById("venue_id").value = venue_id;
    document.getElementById("year").value = year;
    document.getElementById("month").value = month;
    document.getElementById("day").value = day;
    document.getElementById("hour").value = hour;
    document.getElementById("booking_phone").value = booking_phone;

    console.log("______________");
    console.log(artist_id);
    console.log(document.getElementById("artist_id").value);

    console.log("{{ show }}}");










</script>






{% endblock %}