{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}



<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" >
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;list-style: none;">
        <b>Products</b></h2>
        <hr>


<!--name, price-->

<div id="cards_container" class="container-fluid m-0">







<!--

<div class="card mb-4" style="">
  <div class="card-body">
    <h5 class="card-title" 
    style="font-weight: bold; font-size: 150%;">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="d-flex"><a href="#" class="ml-auto btn btn-outline-success">
      <svg width="40" height="40" 
fill="currentColor" class="bi bi-arrow-right" 
viewBox="0 0 16 16">
  <path fill-rule="evenodd" 
  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>

</a>
    </div>
  </div>
</div>


-->



        
      </div>
  </div>


</div>

</div>




<script type="text/javascript">

get_products().then(function(value) 
  {build_home_cards(value);});

</script>


{% endblock %}