{% extends 'layouts/main.html' %}
{% block title %}Your Images{% endblock %}
{% block content %}



<div class="second_row bg-success 
container-fluid mx-auto" style="bottom:0px;"
  style="height: 100%;" >
  <div class="row" style="height: 100%;">
      













      <div class="col bg-info pr-2" 
      style="height: auto" style="height: 100%;">
        <h2 class="" 
        style="color:black;font-weight:
        bold;font-size: 400%;list-style: none;">
        <b>Images</b>
      </h2>
        <hr>

        <a href="/add-image"><button 
        class="card_button btn btn-outline-warning m-1" 
        style="font-size: 200%;
        font-weight: bold;">Add a new Image</button>
      </a>
<hr>

<!--name, price-->

<div id="cards_container" class="container-fluid m-0">








<!--
<div class="card mb-4" style="">
  <div class="card-body">
    <h5 class="card-title" 
    style="font-weight: bold; font-size: 150%;">Card title</h5>
    <p class="card-text">Price :  <b>500</b></p>
    <div class="d-flex">
      <a href="edit-image?id=id" target="_blank" 
       class=" card_button btn btn-outline-warning" 
      style="font-weight: bold;font-size: 150%; color: black;">
        Edit
      </a>      

      <a target="_blank" 
       class="ml-auto card_button btn btn-outline-danger" 
      style="font-weight: bold;font-size: 150%"
      data-toggle="modal" data-target="#exampleModal"
      onclick="delete_image(1)" 
      >DELETE
      </a> 
    </div>
  </div>
</div>
-->














        
      </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
        Delete Image</h5>
        <button type="button" class="close" data-dismiss="modal"
         aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete that image?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success mr-auto"
         data-dismiss="modal">
       No, I will keep the image</button>
        <button type="button" class="btn btn-danger"
        data-dismiss="modal" onclick="delete_really()">
        <a>Delete the image</a></button>
      </div>
    </div>
  </div>
</div>


  </div>


</div>

</div>


<script type="text/javascript">
  

  /*Handling delete*/
  var to_be_deleted ;
  /*On clicking this button, this variable will be 
  assigned a value
  the value of the id of the image to be deleted
  it will not be delted yet
  what will trigger the deletion is the delete button 
  in thye pop up modal
  */
  function delete_product(id = 0)
  {
    to_be_deleted = id;
    console.log(to_be_deleted);
  }

  function delete_really()
  {
    delete_products(to_be_deleted).then(function(value)
      {location.reload()});
    
  }





</script>



<script type="text/javascript">

get_products_users().then(function(value) 
  {build_manage_product_cards(value);});

</script>









{% endblock %}